li {
    padding: 5px;
    margin: 5px;
  }
  
  .create-update-form {
    padding: 6px;
    margin: 6px;
    background: green;
  }
  
  .form-group {
    margin-bottom: 6px;
  }
  
  body {
    background-image: url(./../img/burger.jpg);
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }